<% layout("/layouts/boilerplate") %>

<style>
    #filters {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
        width: 75%;
    }

    .filter {
        opacity: .7;
    }

    .filter:hover {
        cursor: pointer;
        opacity: 1;
        text-decoration: underline;
    }

    .filter p {
        font-size: 14px;
    }

    #tax-toggle {
        width: 25%;
    }
    
    .tax-toggle-inner {
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 0.676);
        border-radius: 16px;
        padding: 1rem .5rem;

    }
    /* .toggle {
        height: 1.5em;
        width: 2.5em !important;
    } */

    .tax-info {
        display: none;
    }

</style>

<body>
    <!-- <h2>All Listings</h2> -->

    <!-- <form action="/listings/new" method="get">
        <button>Create New</button>
    </form> -->

    <div class="sub-nav d-flex align-items-center">

        <div id="filters" class="d-flex">

            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-fire"></i>
                </div>
                <p>Trending</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                   <i class="fa-solid fa-bed"></i>
                </div>
                <p>Rooms</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-mountain-city"></i>
                </div>
                <p>Iconic cities</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-mountain-sun"></i>
                </div>
                <p>Mountains</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-brands fa-fort-awesome"></i>
                </div>
                <p>Castles</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-person-swimming"></i>
                </div>
                <p>Amazing Pools</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-tents"></i>
                </div>
                <p>Camping</p>
            </div>
            
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-tractor"></i>
                </div>
                <p>Farms</p>
            </div>
    
            <div class="filter text-center me-5 mt-4">
                <div>
                    <i class="fa-solid fa-snowman"></i>
                </div>
                <p>Arctic</p>
            </div>
    
        </div>

        <div id="tax-toggle" class="d-flex justify-content-center">

            <div class="tax-toggle-inner d-flex justify-content-center align-items-center">

                <div class="form-check-reverse form-switch">
                    <input class="form-check-input toggle" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>

            </div>

        </div>

    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 mt-3">

        <% for(let listing of allListings) { %>

            <a href="/listings/<%= listing._id %>" class="listing_link">

                <div class="card cols listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-body listing-card-body">
                        <p class="card-text listing-card-text">
                            <strong><%= listing.title %></strong> <br>
                            &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
                            <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                        </p>
                    </div>
                </div>

            </a>
           
    
        <% } %>

    </div>

    <!-- <ul>

        <% for(let listing of allListings) { %>

            <li><a href="/listings/<%= listing._id %>">
                    <%= listing.title %>
                </a></li>

            <% } %>
    </ul> -->

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");

        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.querySelectorAll(".tax-info");
            taxInfo.forEach((info) => {
                if (info.style.display !== "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            });
        });
    </script>

</body>